html ,body {
	font-family: 'Muli', Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

.siteHeader {
	width: 100%;

	h1 {
		height: 75px;
		margin: 40px auto 0;
		font-size: 0;
		background: url(../images/logo.png) no-repeat center top;
	}

	.subtitle {
		font-size: 14px;
		letter-spacing: 0.4em;
		text-align: center;
		margin-bottom: 40px;
	}
}

.mainContent {
	width: 100%;
	background-color: #cccccc;

	.bgWrap {
		margin: 0 auto;
		overflow: hidden;
	}

	#motion, #about_me, #skills, #my_social_info {
		position: relative;
		width: 100%;
	}

	#motion, #about_me, #my_social_info {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 708px;
	}

	#motion {
		background: url(../images/sky.jpg) no-repeat center top;

		.slogan {
			font-size: 24px;
			color: #B0DDFF;
			text-align: center;
			padding-top: 200px;
		}
	}

	#about_me {
		background: url(../images/me.jpg) no-repeat 45% top;
			
		p {
			width: 40%;
			position: absolute;
			right: 8%;
			top: 30%;
			text-align: center;
			line-height: 26px;
		}

		br {
			line-height: 36px;
		}

		.en {
			font-size: 18px;
		}

		.zh {
			font-size: 14px;
		}
	}

	#skills {
		padding: 66px 0 36px; 
		background-color: #E8FDFF;

		.centerWrap {
			margin: 0 auto;

			.skillItem {
				width: 100%;
				overflow: hidden;
				margin-bottom: 30px;
				background-color: #96DFFF;

				.titleWrap {
					width: 20%;
					text-align: center;
					float: left;

					.icon {
						display: inline-block;
						width: 140px;
						height: 140px;
						@include radius(70px);
						
						img {
							padding: 32px 10px 10px;
						}
					}

					.skillTitle {
						margin: 20px 0;
						display: inline-block;
						font-size: 14px;
					}
				}

				.description {
					width: 76%;
					padding: 2%;
					float: right;
					background-color: #D1F3F7;

					h2 {
						line-height: 38px;
						font-size: 18px;
						text-align: center;
						margin: 10px 0;
					}

					.list {
						padding: 15px 0 0;
						width: 90%;
						margin: 0 auto;

						li {
							font-size: 14px;
							line-height: 18px;
							color: #2E91B6;
							padding-bottom: 3px;
							margin-bottom: 12px;
							border-bottom: 1px solid #A3CCE0;
						}
					}

					.link {
						width: 100%;
						text-align: center;
						margin-top: 30px;

						a {
							display: inline-block;
							background-color: transparent;
							padding: 12px;
							width: 210px;
							border: 2px solid #cccccc;
							color: #000000;
							text-decoration: none;
							font-size: 15px;

							&:hover {
								border: 2px solid #000000;
							}
						}
					}
				}
			}
		}
	}

	#my_social_info {
		background: url(../images/social_page.jpg) no-repeat center top;

		.socialMediaWrap, .callWrap {
			position: absolute;
			top: 150px;
			right: 0;
			padding: 45px 12px 10px;
			width: 240px;
			height: 435px;
			border: 2px solid #cccccc;
			@include radius(35px);
			margin-right: 150px;
		}

		.socialMediaWrap {
			background-color: rgba(250, 250, 250, 0.1);
			overflow: hidden;

			a {
				display: block;
				float: left;
				background: url(../images/social_icon.png) no-repeat;
				margin: 0 5px 10px;
				width: 50px;
				height: 70px;
				font-size: 0;

				&.Medium {
					background-position: -110px 0;
				}

				&.Fans_Page {
					background-position: -55px -160px;
				}

				&.Instagram {
					background-position: -165px 0;
				}

				&.Flickr {
					background-position: 0 0;
				}

				&.Twitter {
					background-position: -55px 0;
				}

				&.YouTube {
					background-position: 0 -80px;
				}

				&.Github {
					background-position: -165px -80px;
				}

				&.Facebook {
					background-position: -55px -80px;
				}

				&.Linkedin {
					background-position: -110px -80px;
				}

				&.Phone {
					background-position: -110px -160px;
				}

				&.Gmail {
					background-position: -165px -160px;
				}

				&:hover {
					background: url(../images/social_icon_hover.png) no-repeat;

					&.Medium {
						background-position: -110px 0;
					}

					&.Fans_Page {
						background-position: -55px -160px;
					}

					&.Instagram {
						background-position: -165px 0;
					}

					&.Flickr {
						background-position: 0 0;
					}

					&.Twitter {
						background-position: -55px 0;
					}

					&.YouTube {
						background-position: 0 -80px;
					}

					&.Github {
						background-position: -165px -80px;
					}

					&.Facebook {
						background-position: -55px -80px;
					}

					&.Linkedin {
						background-position: -110px -80px;
					}

					&.Phone {
						background-position: -110px -160px;
					}

					&.Gmail {
						background-position: -165px -160px;
					}
				}
			}

			.home {
				position: relative;
				bottom: -210px;
				left: -88px;
				display: inline-block;
				width: 60px;
				height: 60px;
				background-color: rgba(7, 7, 7, 0.1);
				@include radius(100%);

				span {
					display: block;
					width: 22px;
					height: 22px;
					margin: 18px auto;
					@include radius(6px);
					border: 1px solid rgba(255, 255, 255, 0.3);
				}
			}
		}

		.phoneCall {
			display: none;
			background-color: #7B7B7B;

			.phoneNo {
				width: 100%;
				text-align: center;
				font-size: 18px;
				color: #FFFFFF;
				padding: 6px 0 10px;

				.cancel {
					font-size: 12px;
					display: inline-block;
					padding: 4px;
					width: 16px;
					height: 16px;
					line-height: 16px;
					@include radius(100%);
					border: 1px solid #FFFFFF;
					margin-left: 10px;
					vertical-align: 3px;
					cursor: pointer;
				}
			}

			.numberWrap {
				width: 231px;
				overflow: hidden;
				margin: 15px auto 0;

				.number {
					width: 55px;
					height: 55px;
					line-height: 55px;
					text-align: center;
					float: left;
					margin: 5px 10px;
					border: 1px solid #FFFFFF;
					color: #FFFFFF;
					font-size: 16px;
					@include radius(100%);
				}
			}

			.call {
				width: 64px;
				height: 64px;
				margin: 30px auto 10px;
				@include radius(100%);
				background-color: #4FC942;

				a {
					display: block;
					width: 55px;
					height: 55px;
					margin: 0 auto;
					@include radius(100%);
					background: url(../images/social_icon.png) no-repeat -107px -152px;
				}
			}
		}
	}
}

.siteFooter {
	position: relative;
	bottom: 46px;

	p  {
		line-height: 46px;
		text-align: center;
		color: #8B8B8B;
		margin: 0;
	}
}

@media screen and (min-width: 1201px) {
	.mainContent {   
		.bgWrap {
   			width: 1200px;
    	}

		#skills {
			.centerWrap {
				width: 1000px;
			}
		}    
    }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
	.mainContent {   
		.bgWrap {
   			width: 900px;
    	}

    	#about_me {
    		.bgWrap {
    			p {
    				width: 45%;
    			}
    		}
    	}

		#skills {
			.centerWrap {
				width: 900px;

		    	.skillItem {
		    		.description {
		    			h2 {
		    				font-size: 17px;
		    				line-height: 30px;
		    			}
		    		}
		    	}
			}
		}     
	}	
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	.mainContent {   
		.bgWrap {
   			width: 748px;
    	}

    	#about_me {
    		.bgWrap {
    			p {
    				width: 50%;
    				line-height: 24px;
    			}
    		}
    	}

	    #skills {
	    	.centerWrap {
		    	width: 748px;

		    	.skillItem {
		    		.titleWrap {
		    			width: 25%;
		    		}

		    		.description {
		    			width: 71%;

		    			h2 {
		    				font-size: 17px;
		    				line-height: 30px;
		    			}
		    		}
		    	}
		    }
		}
	}  
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	.siteHeader {
		h1 {
			height: 56px;
			background: url(../images/logo-450.png) no-repeat center top;			
		}

		.subtitle {
			font-size: 13px;
			letter-spacing: 0.3em;
		}
	}

 	.mainContent {   
		.bgWrap {
   			width: 460px;
    	}

    	#about_me {
    		.bgWrap {
    			p {
    				width: 50%;
    				line-height: 24px;
    			}
    		}
    	}

	    #skills {
	    	.centerWrap {
		    	width: 460px;

		    	.skillItem {
		    		.titleWrap {
		    			width: 100%;
		    			float: none;
		    		}

		    		.description {
		    			width: 90%;
		    			padding: 5%;
		    			float: none;

		    			h2 {
		    				font-size: 16px;
		    				line-height: 26px;
		    			}
		    		}
		    	}
		    }
		}

		#my_social_info {
			.socialMediaWrap, .callWrap {
				top: 120px;
				left: 0;
				margin: 0 auto;
			}			
		}
	}     
}

@media screen and (max-width: 481px) {
	.siteHeader {
		h1 {
			height: 37px;
			background: url(../images/logo-300.png) no-repeat center top;			
		}

		.subtitle {
			font-size: 12px;
			letter-spacing: 0.2em;
		}
	}

	.mainContent {   
		.bgWrap {
   			width: 320px;
    	}

    	#about_me {
    		.bgWrap {
    			p {
    				width: 90%;
    				padding: 5%;
    				line-height: 24px;
    				right: 0;
    				top: 5%;

    				.en {
    					font-size: 18px;
    				}

    				.zh {
    					font-size: 14px;
    				}
    			}
    		}
    	}

	    #skills {
	    	.centerWrap {
		    	width: 320px;

		    	.skillItem {
		    		.titleWrap {
		    			width: 100%;
		    			float: none;
		    		}

		    		.description {
		    			width: 90%;
		    			padding: 5%;
		    			float: none;

		    			h2 {
		    				font-size: 16px;
		    				line-height: 26px;
		    			}
		    		}
		    	}
		    }
		}

		#my_social_info {
			.socialMediaWrap, .callWrap {
				top: 120px;
				left: 0;
				margin: 0 auto;
			}			
		}
	} 
}

.imageWrap {
	width: 1000px;
	margin: 0 auto;

	.mockup {
		width: 1000px;
	}

	.img_1 {
		background: url(../images/000.png) no-repeat center top;
		height: 736px;
	}

	.img_2 {
		background: url(../images/001.png) no-repeat center top;
		height: 815px;
	}

	.img_3 {
		background: url(../images/002.png) no-repeat center top;
		height: 655px;
	}
}